<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.sanmeng.base.dao.MusicDAO">

    <resultMap id="BaseResultMap" type="cc.sanmeng.base.po.MusicPo">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="img" property="img" />
        <result column="player_url" property="playerUrl" />
        <result column="status" property="status" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
                name,
                img,
                player_url,
                status,
                gmt_create,
                gmt_modified
    </sql>

    <!-- 查询条件 -->
    <sql id="Where_Clause">
        <where>

        </where>
    </sql>

    <insert id="add" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="cc.sanmeng.base.po.MusicPo">
        INSERT INTO t_music
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != name'>
                name,
            </if>
            <if test ='null != img'>
                img,
            </if>
            <if test ='null != playerUrl'>
                player_url,
            </if>
            <if test ='null != status'>
                status,
            </if>
            <if test ='null != gmtCreate'>
                gmt_create,
            </if>
            <if test ='null != gmtModified'>
                gmt_modified
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != name'>
                #{name},
            </if>
            <if test ='null != img'>
                #{img},
            </if>
            <if test ='null != playerUrl'>
                #{playerUrl},
            </if>
            <if test ='null != status'>
                #{status},
            </if>
            <if test ='null != gmtCreate'>
                #{gmtCreate},
            </if>
            <if test ='null != gmtModified'>
                #{gmtModified}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM t_music
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="cc.sanmeng.base.po.MusicPo">
        UPDATE t_music
        <set>
            <if test ='null != name'>name = #{name},</if>
            <if test ='null != img'>img = #{img},</if>
            <if test ='null != playerUrl'>player_url = #{playerUrl},</if>
            <if test ='null != status'>status = #{status},</if>
            <if test ='null != gmtCreate'>gmt_create = #{gmtCreate},</if>
            <if test ='null != gmtModified'>gmt_modified = #{gmtModified}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="queryById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM t_music
        WHERE id = #{id}
    </select>

    <select id="queryByPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM t_music
        <include refid="Where_Clause" />
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
            ${pager.mysqlQueryCondition}
        </if>
    </select>

    <select id="queryByCount" resultType="java.lang.Long">
        SELECT count(1)
        FROM t_music
        <include refid="Where_Clause" />
    </select>

    <select id="selectTabList" resultMap="BaseResultMap"
            parameterType="cc.sanmeng.core.mybatis.PagingParamVo">
        select m.*
        from
            t_music m inner join t_music_tab t on m.id = t.music_id
        where t.tab_id = #{extra.tabId}
        group by m.id
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
            ${pager.mysqlQueryCondition}
        </if>
    </select>

    <select id="selectTabCount" resultType="java.lang.Long">
        select count(distinct m.id)
        from
            t_music m inner join t_music_tab t on m.id = t.music_id
        where t.tab_id = #{extra.tabId}
    </select>

</mapper>